@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto+Slab:wght@300;400;500;600&display=swap');

h1 {
	font-family: 'Roboto Slab', serif;
}

h2 {
	font-family: 'Roboto Slab', serif;
}

h3 {
	font-family: 'Roboto Slab', serif;
	font-size: small;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: white;
	width: 100%;
	padding: 1.25rem;
	position: fixed;

	font-family: 'Roboto Slab', serif;
}

nav h2 {
	cursor: pointer;
}

ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 15rem;
	list-style: none;
}

li {
	padding-top: 1rem;
	cursor: pointer;
}

li:hover {
	color: magenta;
}

a {
	font-weight: 500;
	text-decoration: none;
	color: black;
}

a:hover,
a:visited {
	color: magenta;
	text-decoration: none;
}

.logo {
	width: 500px;
	height: 500px;
	border-style: solid;
	border-color: black;
	border-radius: 50%;
	margin-bottom: 2rem;
}

.home-title {
	border-bottom: 2px solid black;
	padding-bottom: 0.5rem;
}

.content {
	display: flex;
	flex-direction: column;
	height: 100vh;
	background-color: lightgray;
	align-items: center;
	justify-content: center;
}

.content-header {
	color: white;
	font-family: 'Roboto Slab', serif;
}

.about-text {
	display: flex;
	font-size: large;
	line-height: 1.5rem;
	margin: 2rem;
}

.work-text {
	display: flex;
	font-size: large;
	line-height: 1.5rem;
	margin: 2rem;
}

.work-links {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 12rem;
}

.Footer {
	display: flex;
	padding: 2.5rem;
	background-color: black;
	color: white;
	justify-content: center;
}
