@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto+Slab:wght@300;400;500;600&display=swap');

h1 {
	font-family: 'Roboto Slab', serif;
}

h2 {
	font-family: 'Roboto Slab', serif;
}

h3 {
	font-family: 'Roboto Slab', serif;
	font-size: small;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: white;
	width: 100%;
	padding: 1rem;
	position: fixed;

	font-family: 'Roboto Slab', serif;
}

nav h2 {
	cursor: pointer;
}

ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 15rem;
	list-style: none;
}

li {
	padding-top: 1rem;
	cursor: pointer;
}

li:hover {
	color: magenta;
}

a {
   font-family: 'Roboto Slab', serif;
	font-weight: bold;
   font-size: large;
	text-decoration: none;
	color: black;
}

a:hover {
	color: magenta;
	text-decoration: none;
}

.logo {
	width: 400px;
	height: 400px;
	border-style: solid;
	border: none;
	border-radius: 50%;
	margin: 5rem 0 3rem 0;
}

.home-title {
	color: white;
	font-size: 48px;
}

.home-subtitle {
	font-size: 28px;
	color: white;
	padding-top: 1.5rem;
}

.content-home {
	display: flex;
	flex-direction: column;
	height: 800px;
	background-color: gray;
	align-items: center;
	justify-content: center;
}

.content-about {
	display: flex;
	flex-direction: column;
	height: 500px;
	background-color: white;
	align-items: center;
	justify-content: center;
}

.content-work {
	display: flex;
	flex-direction: column;
	height: 800px;
	background-color: gray;
	color: white;
	align-items: center;
	justify-content: center;
}

.content-contact {
	display: flex;
	flex-direction: column;
	height: 500px;
	background-color: white;
	color: black;
	align-items: center;
	justify-content: center;
   line-height: 6rem;
}


.divider-custom-line {
	background-color: white;
	width: 100%;
	max-width: 8rem;
	height: 0.25rem;
	background-color: white;
	border-color: white;
   margin-top: 1rem;
}

.divider-custom-line-dark {
	background-color: black;
	width: 100%;
	max-width: 8rem;
	height: 0.25rem;
   margin-top: 1rem;
	background-color: black;
	border-color: black;
}

.content-header {
	color: white;
	font-family: 'Roboto Slab', serif;
}

.work-text,
.about-text {
	display: flex;
	font-size: large;
	line-height: 1.5rem;
	width: 75%;
	margin: 2rem;
}

.work-links {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 12rem;
}

.btn {
	background-color: black;
	color: white;
	border-style: none;
	padding: 0.5rem 2rem;
   font-size: 18px;

	font-family: 'Roboto Slab', serif;
}

.btn:hover {
	background-color: magenta;
}

/* .ContactForm {
	display: flex;
	flex-direction: column;
	background-color: white;
	padding-bottom: 4rem;
} */

.SubFooter {
	display: flex;
	padding: 6rem;
	background-color: rgb(65, 65, 65);
	color: white;
	justify-content: center;
}

.Footer {
	display: flex;
	padding: 2.5rem;
	background-color: black;
	color: white;
	justify-content: center;
}
